#logo{
	width: 150px;
	height: 35px;
}

#header {
	width: 100%;
	height: 40px;
	border-bottom: solid #04B6CF 1px; 
}

#logout{
	float:right;
}
#settings{
	float:right;
}
#logoutButton{
	background-color:white;
	color: #04B6CF;
	font-size:15px;
	border: none;
	padding-top:7px;
	cursor:pointer;
}

#settingsButton{
	background-color:white;
	color: #04B6CF;
	font-size:15px;
	border: none;
	padding-top:7px;
	cursor:pointer;
	float:right;
}

#mainContainer{
	width: 90%;
	margin:auto;
}

#centered {
	position: absolute;
	top: 30%;
	left: 47%;
	margin-top: -50px;
	margin-left: -130px;
	padding: 10px;
	text-align: center;
	background: rgba(0,0,0,.30);
    backdrop-filter:blur(60px);
    border-radius: 25px;
    color: white;
    width: 300px;
    height: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonAdd{
	background-color:transparent;
	border: solid black 2px;
	border-radius:5px;
	font-family:'Segoe UI';
	color:black;
	font-size:12pt;
	cursor:pointer;
	margin:10px;
	font-family: Arial, Helvetica, sans-serif;
}
