body {
	background-image: url("images/white.jpg");
}

#logo{
	width: 180px;
	height: 55px;
	padding-top:15px;
}

.font{
	font-family:'Segoe UI';
}

.buttonLogin{
	background-color:transparent;
	border: solid white 2px;
	border-radius:5px;
	font-family:'Segoe UI';
	color:white;
	font-size:12pt;
}

form {
	display: grid;
	grid-template-columns: 80px 140px;
	padding: 5px;
	margin: 10px;
	float: left;
}

.fields { 
grid-column: 2 / 2; 
height-line: 15px; 
font-family: 'Segoe UI'; 
font-size: 10pt;
margin-bottom:5px;
}

.centered {
	position: absolute;
	top: 30%;
	left: 47%;
	margin-top: -50px;
	margin-left: -100px;
	padding-bottom: 10px;
	text-align: center;
	background: rgba(0,0,0,.40);
    backdrop-filter:blur(60px);
    border-radius: 25px;
    color: white;
}