#logo{
	width: 150px;
	height: 35px;
}

.register {
	border-radius: 10px;
	float: left;
	top: 30%;
	left: 47%;
	padding: 30px;
	text-align: center;
	background: rgba(0,0,0,.50);
    backdrop-filter:blur(60px);
    border-radius: 25px;
    color: white;
    font-family:'Segoe UI';
}
.fields{
margin: 10px;
}

table, td, th {
  border: 1px solid grey;
  padding: 5px;
  font-family: 'Segoe UI';
} 

table {
  border-collapse: collapse;
  width:100%;
}

tr:nth-child(even) {
  background-color: #f0f9ff;
}

#header {
	width: 100%;
	height: 40px;
	border-bottom: solid #04B6CF 1px; 
}

#logout{
	float:right;
}

#logoutButton{
	background-color:white;
	color: #04B6CF;
	font-size:15px;
	border: none;
	padding-top:7px;
	cursor:pointer;
}

#mainContainer{
	width: 90%;
	margin:auto;
}

#left{
	width: 35%;
	height: auto;
	background-color:lightgrey;
	float:left;
	padding-bottom:20px;
}

#right{
	width: 60%;
	float:right;
}

#people{
	width: 45%;
	height: auto;
	float:left;
	background-color: lightblue;
	padding:10px;
}

#addPayment{
	width: 45%;
	height: auto;
	float:right;
	background-color: lightblue;
	padding:10px;
}

.profilePicture{
	width:200px;
	margin-left:10%;
	margin-top:15px;
}

#welcomeMessage{
	margin-left:10%;
	font-family:'Segoe UI'
}

.font{
	font-family:'Segoe UI';
}

#personalInfo{
	margin-left:10%;
}

.buttonAdd{
	background-color:transparent;
	border: solid black 2px;
	border-radius:5px;
	font-family:'Segoe UI';
	color:black;
	font-size:12pt;
	cursor:pointer;
	margin:10px;
}

#invisible{
	display:none;
}

#finishForm{
	float:right;
}